

.header-logo {
    display: flex;
    align-self: center;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
    margin-left: 80px;
    
    height: 150px;
   
}

.header_wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
     background-color: white;
    

}
.footer_wrapper {
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
     background-color: white;
    height: 150px;
    

}

.login-button {
    width: 120px;
    background: white;
    color: #969696; 
    border-color: #969696;
    // height: 30px;
    // text-align:center;
    // justify-content: center;
}


.blue-top {
    width: 100%;
    background-color: #6187cb;
    height: 150px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

