

.header-logo {

    display: flex;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    text-transform: uppercase;

    
    color: #000000;
}

