
.main_page_background {
    background-image: url('./images/homepage.png');
    background-position: top 1px center;
    background-size: 100% auto;
    height: 100%;
    background-repeat: no-repeat;
    align-self: center;
    width: 100%;
}