
.main_page_background {
    background-image: url('./images/homepage.png');
    background-position: top 1px center;
    background-size: 100% auto;
    height: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    width: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    
    border-radius: 3px;
    align-content: center;
    padding: 20px;
      width: 100%;
    // padding: 5px;
    margin-top: 20px;
      background-color: white;
    border: 1px solid #C4C4C4;
    align-items: center;
    
}

.login-container-input {
    // height: 30px;
    width: 80%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    border: 1px solid #BDBDBD;
    
    align-self:center;
    border-radius: 3px;
    padding: 10px;
    color: #5B5A5A;
    background-color: #e9eef1   ;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.login-container-submit {
    // height: 30px;
    // margin: 5px;
    margin-top: 10px;
    width: 80%;
  
    align-self:center;
    background-color: #6187c8;
    border: 2px solid #6187c8;
    border-radius: 6px;
    color: white;
    text-align: center;
    font-weight: bolder;
    justify-content: center;
}
.login-container-submit:hover {
    cursor: pointer;
    background-color: #4e7ac5;
}


.header-prompt {
    position: relative;
    top: 150px;
    left: 50px;
    width: 800px;
    height: 130px;
}

.register-container {
        display: flex;
    flex-direction: column;
   
       border-radius: 3px;
    align-content: center;
    padding: 20px;
    width: 100%;
    // padding: 5px;
    margin-top: 20px;
      background-color: white;
    border: 1px solid #C4C4C4;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.login-wrapper {
    display: flex;
    position: absolute;
    flex-direction: column;
  
    // top: 35%;
     
    display: flex;
    width: 420px;
    height: 420px; 
    position: absolute;
    right: 8%;
    top: 30%;
}

.reset-password {
    margin-top: 10px;
}