
{% block content %}

<head>
    <title>Divinc</title>
</head>


<body>

    <div id="root">
        <!-- <h1> Hello!</h1>
        <div>
          Diversity Inclusion
            <a href= "/index">Home</a>
            <a href= "/profile/mentee">Mentee Profile</a>
            <a href= "/profile/mentor">Mentor Profile</a>
            <a href= "/index">Home</a>
        </div>
             <h2> If you see this, you aren't seeing React.</h2> -->

    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}" ></script>
</body>
{% endblock %}